# RetroAchievements Login File
# Fill in the empty quotes below with your credentials.
# Keep the quotes! 
# Example: 
# export USERNAME="YourUsername"
# export PASSWORD="SuperSecretPassword"

export USERNAME=""
export PASSWORD=""

